*{
    margin: 0px;
    padding:0px;
    text-decoration: none !important;
}
body{
    background: whitesmoke;
}

.bianco{
    background: whitesmoke;
}
.upper-things{
    width: 100%;
   /* display: flex;
    justify-content: center;  */
}


.logo{

    /*border: solid black;
    width: 60%; */

    margin-left:80px;
}

.distanza-car{
    margin-top: 15% ;

}

@media (max-width: 992px) {
    .logo{
        width: 50%;
        margin-left: 0px;
    }
}

.immagini{

    background:white;
}

/* bordo colorato fastidioso di bootstrap del carosello*/

.margine{
    --bs-gutter-x:0;

}

.altezza-carosello >div >img{
    max-height: 400px;
}

@media (min-width: 992px) {
    .distanza-nav > li{
        margin-right: 40px !important;
        margin-left: 40px !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

}


.scritta> li >a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15pt;
}
@media (max-width: 992px) {
    .scritta> li >a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10pt;
    }
}

/* Marche e loghi*/
/* La soluzione che mi viene in mente è mettere l'animation nel css, fare diverse classi e vedere se funziona meglio così */

.foto-marche{
    position: relative;
    width: 50%;
    margin-top: 15%;
    margin-bottom: 10%;
    z-index: -1;
}

.rebecca{
    background-color: rgba(255, 255, 255, 0.527);
    width: 15%;
    margin-left: -17% ;
    margin-top: -22%;
    z-index: 0;
    animation: rotateIn;
    animation-duration: 1.5s;

}
.rebecca:hover{


    transform: scale(1.15);
    transition-duration: 0.5s;
}

.magna-grecia{
    width: 10%;
    margin-left: -47%;
    margin-top: -20%;
    z-index: 0;
    animation: rotateIn;
    animation-duration: 1.5s;
}
.magna-grecia:hover{
    transform: scale(1.15);
    transition-duration: 0.5s;
}


.marea{
    width: 15%;
    margin-left: -11%;
    margin-top: 5%;
    z-index: 0;
    animation: rotateIn;
    animation-duration: 1.5s;
    -moz-margin-start: -50%;
}
.marea:hover{

    transform: scale(1.15);
   
    transition-duration: 0.5s;
}

.bysimon{
    width: 20%;
    
    margin-left: -3%;
    margin-top: -20%;
    z-index: 0;
    animation: rotateIn;
    animation-duration: 1.5s;
    -moz-margin-start:-38%;
   
    
}
.bysimon:hover{
    transform: scale(1.15);   
    transition-duration: 0.5s;
}

.marako{
    width: 12%;
    margin-left: -15%;
    margin-top: 2%;
    animation: rotateIn;
    animation-duration: 1.5s;
    -moz-margin-start: -33%;
}
.marako:hover{
    transform: scale(1.15);   
    transition-duration: 0.5s;
}



.timberland{
    width: 15%;
    margin-left: 2%;
    margin-top: 4%;
    background: rgba(0, 0, 0, 0.472);
    animation: rotateIn;
    animation-duration: 1.5s;
    -moz-margin-start: -18%;
    
}
.timberland:hover{
    transform: scale(1.15);   
    transition-duration: 0.5s;
}

.antica_murrina{
    width:20%;
    margin-top: 25%;
    margin-left: -45%;
    background:rgba(0, 0, 0, 0.315);
    animation: rotateIn;
    animation-duration: 1.5s;
}
.antica_murrina:hover{
    transform: scale(1.15);   
    transition-duration: 0.5s;
}

.anellissimi{
    width:15%;
    margin-top: 25%;
    margin-left: 5%;
    animation: rotateIn;
    animation-duration: 1.5s;
    -moz-margin-start: -20%;
}
.anellissimi:hover{
    transform: scale(1.15);   
    transition-duration: 0.5s;
}


/* visibilità dei singolo oggetto + bordo */

.visible{

    display: none;
    visibility: hidden;
}
.hidden{
    visibility: hidden;
}

.bordo{
    border: solid black;
}

/*presentazione prodotti*/

.presentazione{
    
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.presentazione > img{
    width: 20%;
    margin: 1%;
    
}
@media (min-width: 800px){
.presentazione > img:hover{
    transform: scale(1.5);   
    transition-duration: 0.5s;
}
}

@media (max-width: 800px){
    .presentazione >img:active{
        transform: scale(1.5);   
        transition-duration: 0.5s;
    }
}

@media (max-width: 800px) {
    .presentazione {
     display: flex; 
     flex-wrap: wrap;  
     
      
    }
    .presentazione > img{
        width: 10%;
    }
    .primacolonna{
        flex: 40%;
    }
    .secondacolonna{
        flex: 40%;
        
    }
  }

  .primacolonna{
      
  }
  /*presentazione marche nomi */
 
  .topper-margin{

      margin-top: -8%;
  }

  .rebeccapresmar{
    width:25%;
  }
  
  
  @media (max-width: 800px) {
   .rebeccapresmar{
    min-width: 40%;
   } 

  }

  .visiblepres_js{
    display: none;
    visibility: hidden;
    
  }

/* CONTATTI */
.contatti-color{
    background:rgb(214, 214, 214);
    height: 500px;
    margin-top: 15%;

}


.contatti{
    
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
    
    font-weight:500;
      
}

.mappa{
    width: 40%;
    height: 350px;
    margin-top: 1%;
}

.social{
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;  
    float: right ;
    margin-right: 30%;   
}

.logo-insta{
    width: 25%;
    
  
}
.instagram{
    width: 15%;
    float: right;
    margin-right: 25%;
    margin-top: 5%;
    color: black;
}

.instagram:hover{
    color: rgb(97, 96, 96);
}

/* ID di Javascript per modificare la navbar e logo*/

#navbarjs{
    height: 150px;
    transition: 0.5s;
}
 #logojs {
    width: 60%;
    transition: 3s;
  }
