@media (max-width:769px){
    #navbarjs{
        height: auto;
        
    }
    .distanza-car{
        margin-top: 20%;
        margin-bottom: 30%;
    }
    .foto-marche {
        width: 100%;
      
    }
    .marche-gruppo{
        width:100%;
        margin-top: -70%;
               
    }
       .contatti-color{
           margin-top:90%;
       }

   
}
@media (max-width:280px){
    .navbar-toggler{
        margin-left: -20%;       
    }
    .distanza-car{
        margin-top:30%;
    }
}


